<div class="text-center mb-5">
  <h1 class="h2">平均塗りポイントランキング</h1>
  <p class="mt-5"><%= link_to '合計塗りポイントランキング', '/total_ranking', class: 'btn btn-lg btn-primary' %></p>
  <p class="mt-5"><%= link_to '最高塗りポイントランキング', '/max_ranking', class: 'btn btn-lg btn-primary' %></p>
  <p class="mt-5"><%= link_to '平均塗りポイントランキング', '/average_ranking', class: 'btn btn-lg btn-primary' %></p>
  <% if BattleRecord.find_by(user_id: session[:user_id]) %>
    <div class="row mt-5">
      <table class="table table-bordered offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 offset-md-1 col-md-10">
        <% @ranking = 1 %>
        <% @main_weapon_id_order_by_average.each do |main_weapon_id| %>
          <tr>
            <th class="align-middle" width="15%"><%= @ranking %></th>
            <th width="45%"><img class="rounded" src=<%= "/main_weapons/#{MainWeapon.find_by(id: main_weapon_id).image}" %> alt="Main Weapon" width="90px" height="90px"></th>
            <th class="align-middle" width="20%">Lv.<%= Math.sqrt((BattleRecord.where(user_id: session[:user_id], main_weapon_id: main_weapon_id).sum(:point)) / 100).floor %></th>
            <th class="align-middle" width="20%"><%= BattleRecord.where(user_id: session[:user_id], main_weapon_id: main_weapon_id).average(:point).floor %>p</th>
          </tr>
          <% @ranking += 1 %>
        <% end %>
      </table>
    </div>
  <% end %>
</div>
