<div class="text-center mb-5">
  <h1>ステージ一覧</h1>
  <div class="row mt-5">
    <% @stages.each do |stage| %>
      <div class="col-xl-4 col-md-6 border pt-5 pb-3">
        <p>
          <img class="rounded" src=<%= "/stages/#{stage.image}" %> alt="Stage" width="320px" height="180px">
        </p>
        <p><%= link_to stage.name, stage_path(stage), class: 'font-weight-bold h5' %></p>
        <% if BattleRecord.find_by(user_id: session[:user_id], stage_id: stage.id) %>
          <% @max_point_record = BattleRecord.where(user_id: session[:user_id], stage_id: stage.id).order(point: :desc).first %>
          <% @max_point = @max_point_record.point %>
          <% @main_weapon = MainWeapon.find_by(id: @max_point_record.main_weapon_id) %>
        <% else %>
          <% @max_point = 0 %>
          <% @main_weapon = MainWeapon.find(1) %>
        <% end %>
        <% if @max_point != 0 %>
          <p class="font-weight-bold"><span class="fa fa-crown mr-2"></span><%= @main_weapon.name %><br>（<%= @max_point %>p）</p>
          <p class="font-weight-bold h5 mb-3">平均：<%= BattleRecord.where(user_id: session[:user_id], stage_id: stage.id).average(:point).floor %>p</p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
