<div class="text-center mb-5">
  <h1>バトル記録一覧</h1>
  <div class="d-flex justify-content-center mt-5">
    <%= paginate @battle_records %>
  </div>
  <% @battle_records.each do |battle_record| %>
    <p class="font-weight-bold h4 mt-3"><%= link_to battle_record.created_at.to_s(:datetime_jp), edit_battle_record_path(battle_record), class: 'font-weight-bold h5' %></p>
    <div class="row">
      <table class="table table-bordered">
        <tr>
          <th><img class="rounded" src=<%= "/main_weapons/#{battle_record.main_weapon.image}" %> alt="Main Weapon" width="90px" height="90px"></th>
          <th><img class="rounded" src=<%= "/stages/#{battle_record.stage.image}" %> alt="Main Weapon" width="160px" height="90px"></th>
          <th><%= battle_record.point %>p</th>
        </tr>
      </table>
    </div>
  <% end %>
  <div class="d-flex justify-content-center mt-5">
    <%= paginate @battle_records %>
  </div>
</div>
